// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
  background-color: #fff;
}

// Para los iconos
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.delete { color: red; }
.material-icons.edit { color: rgb(68, 179, 68); }
.material-icons.show { color: rgb(114, 191, 211); }